body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.game-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.game-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.func-container{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.func-wrapper{
    display: block;
}
.game{
    margin: 20px;
    padding: 4px;
    border: 2px solid;
    border-color: blueviolet;
    height: auto;
    display: grid;
}
.game-row-container{
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 100%;
}
.game-row{
    height: 22px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.game-cell{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0;
    margin-right: 2px;
    border: 1px solid #73736c;
}
.active{
    background-color: #000;
}
.game-col-hint{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border-top: 1px solid saddlebrown;
    margin-top: 4px;
    padding-top: 4px;
}
.hint-col-container{
    width: 22px;
    display: inline-block;
    margin-right: 2px;
}
.hint-col-container .plus{
    margin-top: 4px;
}
.hint-row-container{
    height: 22px;
    display: flex;
    flex-direction: row;

    border-left: 1px solid saddlebrown;
    margin-left: 4px;
    padding-left: 4px;
}
.hint-row-container .plus{
    margin-left: 4px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.hint{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    margin: 0;
    padding: 0;
    margin-right: 2px;
    border: 1px solid #0922ff;
    text-align: center;
    user-select: none;
}
button.plus{
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0;
    padding: 0;
    border: 1px solid beige;
}
button.plus:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
#rownumber{
    height: 24px;
    border: none;
    background: none;
    border-bottom: 1px solid #969696;
    color: #646464;

    -webkit-box-shadow: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;

    outline: none;
}
.btn{
    width: 130px;
    height: 40px;
    padding: 10px 0px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;

    background: #000;
    color: #fff;
    z-index: 1;
}
.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
}
.btn:hover {
    color: #000;
}
.btn:hover:after {
    left: 0;
    width: 100%;
}
.btn:active {
    top: 2px;
}

@media screen and (max-width: 768px){
    .func-container{
        height: 200px;
    }
    .func-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn{
        line-height: 2px;
        margin-top: 10px;
        height: 14px;
    }
}